{% extends 'base.html' %}
{% block title %} Dashboard page {% endblock %}
{% load static %}
{% block css %}

{% endblock %}


{% block content %}
 <!-- <h1>Welcomee to dashboard</h1> -->
 <!-- </hr>
 {% comment %} <hr/> {% endcomment %}
 <div class="dashboard">
 <h4>Name : {{userdata.name}} </h4> <br/>
 <h4>Contact : {{userdata.contact}} </h4> <br/>
 <h4>Dob : {{userdata.dob}} </h4> <br/>
 <h4>Email : {{userdata.email}} </h4> <br/>
 <h4>Gender : {{userdata.gender}} </h4> <br/>
 </div> -->
 

 <div style="width: 100%; height: 90vh; background-color: white; display: flex; ;">
    <section style="width: 20%; background-color: rgb(116, 85, 32); margin: auto; text-align: center; height:90vh; display: flex; justify-content: center;color: #ffffff; flex-direction: column;">
      <img src="" alt="">
      <h4>{{userdata.name}} </h4>
      <a href="{%  url 'first' %}">First 5</a>
      <a href="{%  url 'asc' %}">ascending</a>
      <a href="{% url 'last_5' %}">last_5</a>
      <a href="{% url 'desc' %}">descending</a>
      <a href="{% url 'desc' %}">All Student</a>

    </section>

    <section style="width: 80%; background-color: wheat; margin: auto; text-align: center; height: 90vh; display: flex; justify-content: center; flex-direction: column; padding: 50px;">
        <a href="{% url 'dashboard' %}">Back</a>
        {{data}}
        <table border="1">
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>City</th>
            </tr>
            {% for i in data %}
              <tr>
                <td>{{forloop.counter}}</td>
                
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.contact}}</td>
                <td>{{i.city}}</td>
              </tr>
            {% endfor %}
        
        
         </table>
    </section>
 </div>

 

{% endblock %}